@charset "utf-8";
/* CSS Document */
.admin main {
  margin-bottom: 40px;
}

.admin main .breadcrumb {
  background-color: #fff;
  box-shadow: 0 2px 4px #ddd;
  margin: 40px 0 20px;
  padding: 10px 25px 15px;
}
.admin main .breadcrumb table tr {
  vertical-align: bottom;
}
.admin main .breadcrumb table tr th {
  text-align: left;
  font-weight: normal;
}
.admin main .breadcrumb table tr td {
  text-align: right;
}
.admin main .breadcrumb h1 {
  margin: 20px 0 25px;
  font-size: 32px;
  font-weight: normal;
  line-height: 0;
}
.admin main .breadcrumb a {
  text-decoration: none;
}
.admin main .breadcrumb input {
  padding: 5px 10px;
}

.admin main .content {
  background-color: #fff;
  box-shadow: 0 2px 4px #ddd;  
}

/* responsive design */
@media only screen and (max-width: 1280px) {
  .admin main .breadcrumb {
    margin: 10px 0;
    padding: 10px 15px 15px;
  }
}

@media only screen and (max-width: 640px) {
  
}