@charset "utf-8";
/* CSS Document */
.admin main .content form {
  margin-top: 20px;
  padding: 20px 30px;
  width: 683px;
  font-size: 14px;
}

.admin main .content form .field-group label {
  margin-left: 5px;
  display: inline-block;
  cursor: default;
}
.admin main .content form .field-group input,
.admin main .content form .field-group select,
.admin main .content form .field-group textarea {
  background-color: #fff;
  border: solid thin #ccc;
  border-radius: 4px;
  margin-top: 10px;
  padding: 12px 15px;
  width: 100%;
  display: block;
}
.admin main .content form .field-group input:focus,
.admin main .content form .field-group select:focus,
.admin main .content form .field-group textarea:focus {
  background-color: #f7f7f7;
  border-color: #555;
}
.admin main .content form .field-group input[type="file"] {
  padding: 10px 15px;
}
.admin main .content form .field-group input[readonly],
.admin main .content form .field-group select[readonly],
.admin main .content form .field-group textarea[readonly] {
  background-color: #eee;
}

.admin main .content form .radio-group {
  margin: 30px 0 0 0;
  padding: 0 auto;
  border: solid thin #ccc;
  border-radius: 4px;
}
.admin main .content form .radio-group legend {
  margin: 0;
  padding: 0 10px;
}
.admin main .content form .radio-group p {
  margin: 5px 0;
}

.admin main .content form .checkbox-group label {
  line-height: 22px;
}


.admin main .content form .button-group {
  margin-top: 10px;
  text-align: right;
}
.admin main .content form button {
  border: solid thin transparent;
  border-radius: 4px;
  margin-right: 5px;
  padding: 12px 24px;
  display: inline-block;
}
.admin main .content form button:first-child {
  background-color: #fff;
  color: #222;
  border-color: #999;
}
.admin main .content form button:first-child:hover {
  background-color: #eee;
  border-color: #222;
}
.admin main .content form button:last-child {
  background-color: #222;
  color: #fff;
}
.admin main .content form button:last-child:hover {
  background-color: #333;
}

.admin main .content form .image-group {
  text-align: center;
}
.admin main .content form .image-group .thumbnail {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
  border-bottom: solid thin #ddd;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: solid thin #ccc;
  display: inline-block;
}
/* responsive design */
@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 640px) {
  .admin main .content form {
    padding: 20px;
    width: 100%;
  }
}
