@charset "utf-8";
/* CSS Document */
.login main {
  margin-top: 150px;
  text-align: center;
  text-shadow: 0 1px #fff;
}

.login main h1 img {
  width: 55px;
}

.login main h2 {
  font-size: 24px;
  font-weight: normal;
}

.login main form fieldset {
  border: none;
  width: 360px;
  display: inline-block;
}

.login main form input {
  border: 1px solid #ccc;
  border-bottom-color: #fff;
  padding: 20px 15px;
  width: 100%;
  display: block;
}
.login main form input[name="username"] {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.login main form input[name="password"] {
  border-bottom-color: #ccc;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.login main form input:focus {
  background-color: #f7f7f7;
}

.login main form button {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 15px 0;
  width: 100%;
  font-size: 18px;
  display: block;
}
.login main form button:hover {
  background-color: #333;
}

.login main form .field-group input {
  width: auto;
  display: inline-block;
}
.login main form .field-group label {
  color: #444;
}

.login main address {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

/* responsive design */
@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 640px) {
  .login main {
    margin-top: 50px;
  }

  .login main form fieldset {
    padding: 0;
    width: 90%;
  }
}
